@use "sass:math";

$containerWidth: map-deep-get($grid, "container", "width");
$containerGap: map-deep-get($grid, "container", "gap");
$colMax: map-deep-get($grid, "columns", "max");
$colGap: map-deep-get($grid, "columns", "gap");

.container {
  max-width: $containerWidth * 1px;
  margin: auto;
}

.container,
.container-fluid {
  width: 100%;
  padding-left: $containerGap * 1px;
  padding-right: $containerGap * 1px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(math.div($colGap, 2)) * 1px;
  margin-right: -(math.div($colGap, 2)) * 1px;
}

[class*="col-"] {
  padding-left: math.div($colGap, 2) * 1px;
  padding-right: math.div($colGap, 2) * 1px;
  padding-bottom: math.div($colGap, 2) * 1px;
}

// Dùng map-get để viết lại thay cho biến $breakpoints
@each $key, $val in map-get($grid, "breakpoints") {
  @if ($key == "default") {
    $colDefault: map-deep-get($grid, "breakpoints", "default");
    @include column($colDefault);
  } @else {
    @media (min-width: $val* 1em) {
      @include column($key);
    }
  }
}
